<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render partial: "shared/devisemes" %>

  <div class="input-field"> <!-- input-field is a class from materialize CSS -->
    <%= f.email_field :email, :id => "email", :placeholder => "Email", autofocus: true %>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="action">Send me password rest instructions</button>
<% end %>

<%= render "devise/shared/links" %>
