<footer class="page-footer green lighten-2">
   <div class="container">
     <div class="row">
       <div class="col l6 s12">
         <h5 class="white-text">Creator Arcade</h5>
         <p class="grey-text text-lighten-4">Project based learning for music producers.</p>
       </div>
       <div class="col l4 offset-l2 s12">
         <h5 class="white-text">Look at our dab.</h5>
         <ul>
           <li><a class="grey-text text-lighten-3" href="#!">Snapchat</a></li>
           <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
           <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
           <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
         </ul>
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
     © 2017 Creator Arcade
     <%= link_to "About Creator Arcade", pages_about_path, :class => "grey-text text-lighten-4 right" %>
     </div>
   </div>
 </footer>
