<!DOCTYPE html>
<html>
  <head>
    <title>Arcade</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

    <%= render partial: "shared/header" %>
    <%= render partial: "shared/message" %>

  <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>

    <%= render partial: "shared/footer" %>

  </body>

<script>
  $(".button-collapse").sideNav();
  $(".dropdown-button").dropdown();
</script>

</html>
